/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.dropdown-content {
  background-color: white !important;

li{background-color: white}

}

#select-options-5c326367-be9a-341d-ddb1-06793c70f805{
  opacity: 0;
  background-color: white;
}

