<footer class="center-align blue-grey-text lighten-3 on-top-of-map">
  <div class="valign-wrapper">
    <div class="container">
      © 2017 made with <i class="fa fa-heart" aria-hidden="true"></i> at le wagon.
    </div>
  </div>
</footer>
