<p>Hi <%= @guest.first_name%>,</p>

<p>Bad news, <%= @owner.first_name%> had to cancel <%= @hangout.title%>.</p>

<p>But don't be sad, You can easily create a new hangout!</p>

<p>The Cheers team!</p>
