<p>Hi <%= @user.first_name%></p>

<p>Everything ready! Your event <strong><%= @hangout.title%></strong> has been updated!</p>

<p>Telling your guests? Don't worry, we already sent them an e-mail!</p>

<p>The Cheers team</p>
