/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.padded-small {
  padding-top: 1em;
  padding-bottom: 1em;
}

.padded-top {
  padding-top: 2em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// header and footer
.on-top-of-map{
  position: relative;
  // z-index: 800;
}


.fixed-pos{
  position: fixed;
}

//Button on the confirmation new view
.transport-btn{
  width: 35px;
  border-radius: 25%;
  background-color: #E5E5E5;
  opacity: 50%;
  border: 1px solid lightgrey;
  z-index: 1;
}

.active-transport-btn{
  filter: invert(100%);
}

.btn-wrapper{
  //padding-right: 10%;
  //padding-left:10%;
  //display:flex;
  //justify-content: space-between;
  //align-items: center;
  position:absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  margin-left: 3px;
  margin-right: 3px;

  li{
    padding: 5%;
  }
}


.hangout-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin: 0.3em;
  h1{
  font-size: 1em;
  margin: 0px;
  }
}

.guest{
  p{ font-size: 0.8em;
  }
}

.calendar{
  width: 2.5em;
}

.calendar-wrapper{
  p{font-size: 0.8em;
  }
}

.gmnoprint{
  visibility: hidden;
}

.launch-vote{
  position:absolute;
  top: 35px;
  right: 33%;
}

#center_address_btn{
  font-size: 0.7em;
  width: 100%;
  background-color: #E7E7E7;
}


#wrap {
    position: relative;
}

#hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#datetime {
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 4px;
    border: 1px solid #999;
    font-size: 1em;
    width: 300px;
}

.header {
  background-color: $primary-color;
  margin: 0 0;
  width: 100vw;
  padding: 5px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 0px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);

  img {
    width: 80px;
  }
  &-setlocation{
    padding: 5px;
  }
}

.status-wrapper {
  background-color: $secondary-color;
  margin: 0 0;
  width: 100vw;
  padding: 1px;
}


.user-wrapper {
  // height: 80px;
  // box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 0px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);

  img {
    // position: relative;
    // bottom: 37px;
    // left: 7%;
    width: 40px;
  }

  ul li {
    display: inline-block ;
  }
}

.collapsible-li {
  @extend .collapsible;
  border: 0;
  margin: -3.2rem 0 1rem 0;

  img {
    width: 100%;
  }

  .user {
      width: 70px;
      position: relative;
      top:10px;
  }

  // ul {
  //   display: inline-flex;
  //   li {
  //     margin: 5px;
  //   }
  // }
}

.btn-small {
  @extend .btn;
  padding-left: 8px;
  padding-right: 8px;
  margin: 5px;
  // align-content: center;
}

// home page
.background-home {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
}

.tag-line-home {
  font-size: 1rem;
  background-color: #FC6F04;
  margin: -7px;
  padding: 0.2rem;
  p{
    margin: 0;
    font-size: 1rem;
  }
}

.form_wrapper{
  display: block;
  background-color: white;
  opacity: 0.97;
  margin-top: 3rem;
  padding: 0.5em 0.5em 1.2em 0.5em;
}

.form_wrapper_bottom_margin{
  margin-bottom: 0;
}

#hangout_category{
  background-color: white;
  color: black;
}

.location_unforced{
  display: none;
}

.visibility{
  visibility: hidden;
}

// .dropdown-content{
//   li:first-child{
//   display: none;
//   }
// }

.face-dropdown{
  position: relative;
  //cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  display: block;
}

//Set location page
.form-not-displayed{
  display: none;
}

#confirmation_page{
  margin-top: 2px;
  flex: 1 1 auto;
  position: relative;
}

.setlocation-form-wrapper{
  position: absolute;
  width: 100%;
  top: 1%;
  z-index:5;
  padding: 0 1rem 0 1rem;
}

.location-input{
  background-color: white;
  padding: 0 1rem 0 1rem;
  input[type=text]{
    border-bottom: none;
    margin: 0.4rem;
  }
}

.btn-confirm-location{
  width: 100%;
}

.map-confirmation{
  position: absolute;
  width: 100%;
  //height: 80vh;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.page-confirmation-column{
      display: flex;
    flex-direction: column;
}

.place-wrapper{
  position: relative;
  background-color: white;
  z-index:3;
  h3{
    color: #FC6F04;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    a{
      color: #FC6F04;
    }
  }
  h5{
    font-size: 1rem;
  }
  .rating-wrapper{
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
  }
  img{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    width: 100%;
  }
}

.btn-fsq{
  background-color: #303030;
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: bolder;
  color: #444444;
}

.box-rating{
  background-color: #FC6F04;
  padding: 0.4rem;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: bolder;
}

.list-inline li{
  display: inline;
  list-style-type: none;
}


#list_profile{
  font-size: 1.5rem;
  font-weight: bolder;

}
