<p>Hi <%= @owner.first_name%>,</p>
<p><%= @guest.first_name%> will be there! So far <%= @hangout.confirmations.size - 1%> people have confirmed.</p>
<p>When you have enough confirmations you can start the voting process: </p>
