<div class="text-center padded">
<p><%= t('.message') %></p>
<p><%= request.original_url %> <button class="btn" data-clipboard-text='<%= request.original_url.html_safe %>'>
  <i class="fa fa-files-o" aria-hidden="true"></i>
</button></p>
  <div id="share"></div>
</div>
